* {
  margin: 0;
  padding: 0;
}
body {
  margin: 3%;
  padding: 0.1em;
  font-family: "Dm Sans", Trebuchet MS, sans-serif;
}
p,
ul,
ol {
  font-size: 1.25rem;
  margin: 10px;
  margin-bottom: 40px;
}

h1 {
  text-align: center;
}
img {
  display: block;
  width: 200;
  height: auto;
  margin: 1em auto;
  border: 2px solid rgb(73, 206, 73);
  border-style: dashed;
}
a {
  text-decoration: none;
  color: rgb(73, 206, 73);
}

.header {
  color: rgb(73, 206, 73);

  margin-top: 30px;
}

span.hilgeht {
  background-color: lightpink;
  color: darkred;
  padding: 0 3px;
  margin: 0 -3px;
}
